.optionsBox {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 33% 33% 31%;
  grid-template-rows: 80%;
  margin-top: 50px;
  column-gap: 1.5%;
}
.pieceOfOptionsBox {  
  display: flex;
}

.pieceOfOptionsBox div {
  margin-left: 20px;
  height: 100%;
}

.pieceOfOptionsBox img {
  height: 100%;
}

.pieceOfOptionsBox div p {
  margin-bottom: 10px;
}

.pieceOfOptionsBox div p:nth-child(1) {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--grayish-blue)
}

.pieceOfOptionsBox div p:nth-child(2) {
  font-weight: bold;
  cursor: pointer;
}

.pieceOfOptionsBox div p:nth-child(2):hover {
  color: var(--soft-red)
}

.pieceOfOptionsBox div p:nth-child(3) {
  font-size: 0.8rem;
  color: var(--dark-grayish-blue)
}

@media(max-width: 900px) {
  .pieceOfOptionsBox {
    height: 100%;
  }
  .pieceOfOptionsBox img {
    height: 100%;
  }
  .pieceOfOptionsBox div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
  }
  .pieceOfOptionsBox div p {
    margin-bottom: 10px;
  }
}

@media(max-width: 650px) {
  .optionsBox {
    display: block;
  }
  .pieceOfOptionsBox {
    margin-bottom: 25px;
  }
  .pieceOfOptionsBox img {
    height: 100px;
  }
  .pieceOfOptionsBox div {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
  }
  .pieceOfOptionsBox div p {
    margin-bottom: 0;
  }
}